
@{
    ViewBag.Title = "Index";
}

<h2 class="my-5 text-center">Info e Contatti</h2>

<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="border-bottom mb-2">
            <p class="h3">SS LAZIO</p>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 mb-2 border-bottom border-secondary">
                <p class="h5">Nome della Società</p>
                <p>S.S. Lazio S.p.A.</p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Anno di fondazione</p>
                <p>1900</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Sede del Club</p>
                <p>Via di Santa Cornelia 1000, 00060 Formello, Roma</p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Telefono Centralino</p>
                <p>+39 06 97607111</p>
            </div>
        </div>


        <div class="d-flex align-content-center">
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Fax direzione centro sportivo Formello</p>
                <p>+39 06 97607221</p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Fax Settore Giovanile</p>
                <p>+39 06 97607510</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">E-mail Settore Giovanile</p>
                <p>settore.giovanile@sslazio.it</p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Fax Ufficio Stampa</p>
                <p>+39 06 97607409</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Info Biglietteria</p>
                <p>info.biglietteria@sslazio.it</p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Info Abbonamenti</p>
                <p>info.biglietteria@sslazio.it</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Stadio</p>
                <p>Olimpico - Via del Foro Italico - 00194 Roma</p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">S.L.O.</p>
                <p>slo@sslazio.it</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">D.A.O.</p>
                <p>info.biglietteria@sslazio.it</p>
            </div>
        </div>
    </div>
    <div class="row align-items-center mb-4">
        <div class="border-bottom mb-2">
            <p class="h3">CENTRALINO</p>
        </div>
        <div class="d-flex align-content-center">

            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Telefono</p>
                <p>+39 06 97607111</p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Fax</p>
                <p>+39 06 97607221</p>
            </div>
        </div>
        </div>
    <div class="row align-items-center mb-5">
        <div class="border-bottom mb-2">
            <p class="h3">UFFICIO STAMPA</p>
        </div>
        <div class="d-flex align-content-center">

            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">E-mail</p>
                <p>
                    direzione.comunicazione@sslazio.it
                </p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Fax</p>
                <p>+39 06 97607221</p>
            </div>
        </div>
        </div>
    <div class="row align-items-center mb-5">
        <div class="border-bottom mb-2">
            <p class="h3">DIREZIONE SPORTIVA</p>
        </div>
        <div class="d-flex align-content-center">

            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">E-mail</p>
                <p>direzione.sportiva@sslazio.it</p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Fax</p>
                <p>+39 06 97607221</p>
            </div>
        </div>
        </div>
        <div class="row  align-items-center mb-5">
            <div class="border-bottom mb-2">
                <p class="h3">AMMINISTRAZIONE</p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Fax</p>
                <p>+39 06 97607221</p>
            </div>

        </div>
        <div class="row  align-items-center mb-5">
            <div class="border-bottom mb-2">
                <p class="h3">SETTORE GIOVANILE</p>
            </div>
            <div class="d-flex align-content-center">
                <div class="col-6  mb-2 border-bottom border-secondary">
                    <p class="h5">E-mail</p>
                    <p>scuolacalcio@sslazio.it</p>
                </div>
                <div class="col-6  mb-2 border-bottom border-secondary">
                    <p class="h5">Fax</p>
                    <p>+39 06 97607221</p>
                </div>
            </div>
            <div class="d-flex align-content-center">
                <div class="col-6  mb-2 border-bottom border-secondary">
                    <p class="h5">Scuola Calcio Femminile - Agonistica</p>
                    <p>Fabiana Fusco (+39 3291129970) - Salvatore Nicosia (+39 3397361650)</p>
                </div>
            </div>
        </div>
        <div class="row  align-items-center mb-5">
            <div class="border-bottom mb-2">
                <p class="h3">BIGLIETTERIA</p>
            </div>
            <div class="d-flex align-content-center">
                <div class="col-6  mb-2 border-bottom border-secondary">
                    <p class="h5">E-mail</p>
                    <p>info.biglietteria@sslazio.it</p>
                </div>
                <div class="col-6  mb-2 border-bottom border-secondary">
                    <p class="h5">Fax</p>
                    <p>+39 06 3237371</p>
                </div>
            </div>
            </div>
        </div>


