
@{
    ViewBag.Title = "Index";
}

<h2 class="my-5 text-center">Organigramma</h2>

<div class="container-fluid">
    <div class="row align-items-center mb-5">
        <div class="border-bottom mb-2">
            <p class="h3">CONSIGLIO DI GESTIONE</p>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 mb-2 border-bottom border-secondary">
                <p class="h5">Dott. Claudio Lotito</p>
                <p>Presidente</p>
            </div>
            <div class="col-6  mb-2 border-bottom border-secondary">
                <p class="h5">Dott. Marco Moschini</p>
                <p>Consigliere</p>
            </div>
        </div>
    </div>
    <div class="row align-items-center mb-4">
        <div class="border-bottom mb-2">
            <p class="h3">CONSIGLIO DI SORVEGLIANZA</p>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Prof. Alberto Incollingo</p>
                <p>Presidente</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Prof. Fabio Bassan</p>
                <p>Vicepresidente</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Prof. Vincenzo Sanguigni</p>
                <p>Consigliere</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Avv. Monica Squintu</p>
                <p>Consigliere</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Avv. Silvia Venturini</p>
                <p>Consigliere</p>
            </div>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="border-bottom mb-2">
            <p class="h3">STRUTTURA ORGANIZZATIVA</p>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Dott. Claudio Lotito</p>
                <p>Presidente</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Angelo Mariano Fabiani</p>
                <p>Direttore Sportivo</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Armando Antonio Calveri</p>
                <p>Segretario Generale</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Dott. Marco Cavaliere</p>
                <p>Direzione Amm.va e Controllo di Gestione / Investor Relator</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Dott.ssa Francesca Miele</p>
                <p>Direzione Legale e Contenziosi</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Dott. Giovanni Russo</p>
                <p>Direzione Organizzativa Centro Sportivo di Formello, Uffici, Country Club, Stadio</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Giampiero Angelici</p>
                <p>S.L.O. / Supporter Liaison Officer</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Giampiero Angelici</p>
                <p>D.A.O / Disability Access Officer</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Dott. Avv. Alessandro Bracci</p>
                <p>Delegato Sicurezza Stadio</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Sergio Pinata</p>
                <p>R.S.P.P.</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Angelo Cragnotti</p>
                <p>Responsabile Biglietteria</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Dott. Enrico Lotito</p>
                <p>Direttore Generale Settore Giovanile</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Fabrizio Fratini</p>
                <p>Direzione Settore Giovanile</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Giuseppe Lupo</p>
                <p>Segretario Settore Giovanile</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Alberto Bianchi</p>
                <p>Dirigente Accompagnatore</p>
            </div>
        </div>
    </div>
    <div class="row align-items-center mb-5">
        <div class="border-bottom mb-2">
            <p class="h3">ORGANISMO DI VIGILANZA D. Lgs. 231/2001 S.S. LAZIO S.p.A.</p>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Avv. Pierluigi Mancuso</p>
                <p>Presidente</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Avv. Claudio Urciuoli</p>
                <p>Componente</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Avv. Alessandro Benedetti</p>
                <p>Componente</p>
            </div>
        </div>
    </div>
    <div class="row  align-items-center mb-5">
        <div class="border-bottom mb-2">
            <p class="h3">STRUTTURA FORMATIVA QUALIFICATA STEWARD (D.M. 08/08/2007)</p>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Dott. Giovanni Russo</p>
                <p>Direttore Struttura</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Sergio Pinata</p>
                <p>Direttore Corsi</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Stefano Bucci</p>
                <p>Segreteria Corsi</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Marco Bordini</p>
                <p>Tutor</p>
            </div>
        </div>
     </div>
    <div class="row  align-items-center mb-5">
        <div class="border-bottom mb-2">
            <p class="h3">CONTATTI</p>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Telefono</p>
                <p>+39 06 97607506</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">E-mail</p>
                <p>strutturaformativa@sslazio.it</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Fax</p>
                <p>+39 06 97607529</p>
            </div>
        </div>
    </div>
    <div class="row  align-items-center mb-5">
        <div class="border-bottom mb-2">
            <p class="h3">S.S.LAZIO MARKETING & COMMUNICATION S.p.A.</p>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Dott. Marco Canigiani</p>
                <p>Coordinatore Marketing, Sponsorizzazioni ed Eventi</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Dott. Massimiliano Burali d'Arezzo</p>
                <p>Area Marketing</p>
            </div>
        </div>
        <div class="d-flex align-content-center">
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Dott.ssa Laura Silvia Zaccheo</p>
                <p>Area Marketing</p>
            </div>
            <div class="col-6 border-bottom mb-2 border-secondary">
                <p class="h5">Sig. Valerio D'Attilia</p>
                <p>Area Licensing e Retail</p>
            </div>
        </div>
    </div>
</div>
